<div class='btnGroup'>
  <button 
    class="btn"
    [ngClass]="{chosen:leftBtn}"
    (click)="switchButton($event)">
    Group Info
  </button>
  <button 
    class="btn"
    [ngClass]="{chosen:!leftBtn}"
    (click)="switchButton($event)">
    Member Info
  </button>
</div>
<p> Show selected button: {{ showText }} </p>
<hr>
<div>
  <span>all the person: </span>
  <span *ngFor='let data of datas'>{{ data }} </span>
</div>
<p *ngFor='let key of showDataKeys; let i=index'> Show selected Dropdown{{ i }}: {{ showData[key] }}</p>
<hr>
<app-dropdown [id]="'Person0'" (selected)="showSelected($event)"></app-dropdown>
<app-dropdown [id]="'Person1'" (selected)="showSelected($event)"></app-dropdown>
<app-dropdown [id]="'Person2'" (selected)="showSelected($event)"></app-dropdown>
