<div class='btnGroup'>
  <button 
    class="btn"
    [ngClass]="{chosen:leftBtn}"
    (click)="switchButton($event)">
    Group Info
  </button>
  <button 
    class="btn"
    [ngClass]="{chosen:!leftBtn}"
    (click)="switchButton($event)">
    Member Info
  </button>
</div>
<p> Show selected button: {{ showText }} </p>
<hr>
<p *ngFor='let key of showDataKeys'> Show selected {{ key }}: {{ showData[key] }}</p>
<p>Show selected data from ids: {{ showDataFromIds }}</p>
<form [formGroup]="dropDownForm" (ngSubmit)="onSubmit()">
  <hank-dropdown 
    id='name'
    formControlName='name' 
    placeholder='search name' 
    [options]='nameOptions'
    (selected)="showSelected($event)">
    <div>name</div>
  </hank-dropdown>
  <hank-dropdown 
    id='group'
    formControlName='group' 
    placeholder='search group' 
    [options]='groupOptions'
    (selected)="showSelected($event)"
    disabled=true>
    <div>group</div>
  </hank-dropdown>
  <hank-dropdown
    id='color' 
    width='250'
    max-height='100'
    formControlName='color' 
    placeholder='search color' 
    [options]='colorOptions'
    (selected)="showSelected($event)">
    <div>color</div>
  </hank-dropdown>
  <hank-dropdown 
    class='multi'
    width='300'
    formControlName='multi' 
    placeholder='search name, group or color' 
    [options]='multiOptions'
    (selected)="showSelected($event)">
    <div>name & group & color</div>
  </hank-dropdown>
  <div>date</div>
  <app-date-input formControlName='date'></app-date-input>
  <br>
  <button type="submit">Submit</button>
</form>
<br>

<div>
  <hank-accordion>
    <hank-section title="Paragraph A">
      This is paragraph A. This is paragraph A. This is paragraph A. This is paragraph A. 
      This is paragraph A. This is paragraph A. This is paragraph A. This is paragraph A. 
      This is paragraph A. This is paragraph A. This is paragraph A. This is paragraph A. 
      This is paragraph A. This is paragraph A. This is paragraph A. This is paragraph A. 
    </hank-section>
    <hank-section title="Paragraph B">
      This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
      This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
      This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
      This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
      This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
      This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
      This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
      This is paragraph B. This is paragraph B. This is paragraph B. This is paragraph B.
    </hank-section>
    <hank-section title="Paragraph C">
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
      This is paragraph C. This is paragraph C. This is paragraph C. This is paragraph C.
    </hank-section>
  </hank-accordion>
  <!-- <input type='text' [ngModel]='val' (ngModelChange)='onInput($event)'> -->
</div>