<div class='btnGroup'>
  <button 
    class="btn"
    [ngClass]="{chosen:leftBtn}"
    (click)="switchButton($event)">
    Group Info
  </button>
  <button 
    class="btn"
    [ngClass]="{chosen:!leftBtn}"
    (click)="switchButton($event)">
    Member Info
  </button>
</div>
<p> Show selected button: {{ showText }} </p>
<hr>
<p>  
  name: yang, han, hank, ding, ning, daisy<br>
  group: 01, 02, 03, 04, 05, 06, 07, 08, 09, 10<br>
  color: red, orange, yellow, green, blue, purple, black, white
</p>
<p *ngFor='let key of showDataKeys'> Show selected {{ key }}: {{ showData[key] }}</p>
<app-dropdown [id]="'name'" (selected)="showSelected($event)"></app-dropdown>
<app-dropdown [id]="'group'" (selected)="showSelected($event)"></app-dropdown>
<app-dropdown [id]="'color'" (selected)="showSelected($event)"></app-dropdown>
